<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="user01" class="org.example.spring_boot2.bean.User">
    <property name="name" value="username01"/>
    <property name="age" value="20"/>
  </bean>
  <bean id="pet01" class="org.example.spring_boot2.bean.Pet">
    <property name="name" value="tomcat01"/>
  </bean>
</beans>